@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0");
@import url(typography.css);

.material-symbols-outlined {
  font-size: var(--font-size-base);
}
