@import url(colors.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Definições de variáveis de fonte, altura de linha e peso */
:root {
  /* Font sizes */
  --caption-font-size-small: 0.5rem; /* 8px */
  --caption-line-height-small: 0.75rem; /* 12px */

  --caption-font-size-medium: 0.625rem; /* 10px */
  --caption-line-height-medium: 1rem; /* 16px */

  --caption-font-size-large: 0.75rem; /* 12px */
  --caption-line-height-large: 1rem; /* 16px */

  --font-size-small: 0.875rem; /* 14px */
  --line-height-small: 1rem; /* 16px */

  --font-size-base: 16px; /* 16px */
  --line-height-base: 1.4; /* 24px */

  --font-size-large: 1.25rem; /* 20px */
  --line-height-large: 1.5rem; /* 24px */

  --title-font-size-small: 1.25rem; /* 20px */
  --title-line-height-small: 1.5rem; /* 24px */

  --title-font-size-medium: 1.5rem; /* 24px */
  --title-line-height-medium: 2rem; /* 32px */

  --title-font-size-large: 2rem; /* 32px */
  --title-line-height-large: 2.5rem; /* 40px */

  --headline-font-size-small: 2.5rem; /* 40px */
  --headline-line-height-small: 3.5rem; /* 56px */

  --headline-font-size-medium: 3rem; /* 48px */
  --headline-line-height-medium: 4rem; /* 64px */

  --headline-font-size-large: 4rem; /* 64px */
  --headline-line-height-large: 5rem; /* 80px */

  --display-font-size-small: 4.5rem; /* 72px */
  --display-line-height-small: 6rem; /* 96px */

  --display-font-size-medium: 5rem; /* 80px */
  --display-line-height-medium: 6rem; /* 96px */

  --display-font-size-large: 6rem; /* 96px */
  --display-line-height-large: 6.5rem; /* 104px */

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Font-family */
.font-family-helvetica {
  font-family: "Helvetica", "Arial", sans-serif !important;
}

.font-family-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

/* Font weights */
.font-weight-light {
  font-weight: var(--font-weight-light);
}
.font-weight-regular {
  font-weight: var(--font-weight-regular);
}
.font-weight-medium {
  font-weight: var(--font-weight-medium);
}
.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-large {
  font-weight: var(--font-weight-regular) !important;
  font-size: var(--font-size-large) !important;
  line-height: var(--line-height-large) !important;
}

.font-small {
  font-weight: var(--font-weight-bold) !important;
  font-size: var(--font-size-small) !important;
  line-height: var(--line-height-small) !important;
}

/* Display Styles */
.font-display-large {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-light) !important;
  font-size: var(--display-font-size-large) !important;
  line-height: var(--display-line-height-large) !important;
}

.font-display-medium {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-light) !important;
  font-size: var(--display-font-size-medium) !important;
  line-height: var(--display-line-height-medium) !important;
}

.font-display-small {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-light) !important;
  font-size: var(--display-font-size-small) !important;
  line-height: var(--display-line-height-small) !important;
}

/* Headline Styles */
.font-headline-large {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-light) !important;
  font-size: var(--headline-font-size-large) !important;
  line-height: var(--headline-line-height-large) !important;
}

.font-headline-medium {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-regular) !important;
  font-size: var(--headline-font-size-medium) !important;
  line-height: var(--headline-line-height-medium) !important;
}

.font-headline-small {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-regular) !important;
  font-size: var(--headline-font-size-small) !important;
  line-height: var(--headline-line-height-small) !important;
}

/* Title Styles */
.font-title-large {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-medium) !important;
  font-size: var(--title-font-size-large) !important;
  line-height: var(--title-line-height-large) !important;
}

.font-title-medium {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-semibold) !important;
  font-size: var(--title-font-size-medium) !important;
  line-height: var(--title-line-height-medium) !important;
}

.font-title-small {
  font-family: "Montserrat", sans-serif !important;
  font-weight: var(--font-weight-semibold) !important;
  font-size: var(--title-font-size-small) !important;
  line-height: var(--title-line-height-small) !important;
}

/* Caption Styles */
.font-caption-large {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif !important;
  font-weight: var(--font-weight-medium) !important;
  font-size: var(--caption-font-size-large) !important;
  line-height: var(--caption-line-height-large) !important;
}

.font-caption-medium {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif !important;
  font-weight: var(--font-weight-semibold) !important;
  font-size: var(--caption-font-size-medium) !important;
  line-height: var(--caption-line-height-medium) !important;
}

.font-caption-small {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif !important;
  font-weight: var(--font-weight-semibold) !important;
  font-size: var(--caption-font-size-small) !important;
  line-height: var(--caption-line-height-small) !important;
}

/* Classes de Tamanho de Fonte */
.font-size-small {
  font-size: var(--font-size-small) !important;
}

.font-size-base {
  font-size: var(--font-size-base) !important;
}

.font-size-large {
  font-size: var(--font-size-large) !important;
}

.font-size-display-small {
  font-size: var(--display-font-size-small) !important;
}

.font-size-display-medium {
  font-size: var(--display-font-size-medium) !important;
}

.font-size-display-large {
  font-size: var(--display-font-size-large) !important;
}

.font-size-headline-small {
  font-size: var(--headline-font-size-small) !important;
}

.font-size-headline-medium {
  font-size: var(--headline-font-size-medium) !important;
}

.font-size-headline-large {
  font-size: var(--headline-font-size-large) !important;
}

.font-size-title-small {
  font-size: var(--title-font-size-small) !important;
}

.font-size-title-medium {
  font-size: var(--title-font-size-medium) !important;
}

.font-size-title-large {
  font-size: var(--title-font-size-large) !important;
}

.font-size-caption-small {
  font-size: var(--caption-font-size-small) !important;
}

.font-size-caption-medium {
  font-size: var(--caption-font-size-medium) !important;
}

.font-size-caption-large {
  font-size: var(--caption-font-size-large) !important;
}
